.menu-display {
    width: 70%;
  }
  
  .category-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .category-button {
    background-color: #ff5733;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .category-button:hover {
    background-color: #e84e2b;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  